.Contacts {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;     */
    width: 25%;
    min-width: 200px;
    height: 100%;
    overflow-y: hidden;
    background: #00337C;
    color: aliceblue;
    font-size: 1em;
    font-weight: 700;
    border-right: 2px solid black;
}

.Contacts__empty {
    align-items: center;
}

.Contacts__contact {
    margin-bottom: 2px;
    padding-left: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: auto;
    min-height: 40px;
    background: #FFE5F1;
    color: black;
    border-right: 10px solid #A31ACB;
    border-left: 10px solid #A31ACB;
    transition: 0.15s;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
}

.Contacts__contact:hover {
    background: #FFA3FD;
}

@media screen and (min-height: 88vh) {
    .Contacts {
        overflow-y: scroll;
    }
}